html{
    background-color: #0286c4;
    background-image: url("../IMG/frutas1.png");
}

.arriva{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: black;
    font-family: 'Fascinate', cursive;
}