html{
    background-color: #0286c4;
    /* background-image: url("../IMG/frutas1.png"); */

}
body{
    font-family: 'Fascinate', cursive;
}
.button{
    font-family: 'Fascinate', cursive;
    color: black;
    box-shadow: 5px 5px 5px rgb(29, 28, 28);
    margin: 20px;
    font-size: 70px;
    height: 70px;
    border: none;
}

.title{
    margin-top: 10px;
    text-align: center;
    color: black;
}
.column
{
    display: flex;
    justify-content: center;
}
.parteUno .button
{
    background-color: rgb(126,219,87);
}
.parteDos .button
{
    background-color: rgb(243, 134, 30);
}
.parteTres .button
{
    background-color: rgb(4, 75, 170);
}
.parteCuatro .button
{
    background-color: rgb(0, 255, 170);
}