html{
    background-color: #003F5D;
}
body{
    font-family: 'Fascinate', cursive;
}
.arriva{
    display: flex;
    justify-content: row;
    justify-content: center;
}
.fruta{
    display: flex;
    justify-content: row;
    justify-content: center;
}
.button {
    font-family: 'Fascinate', cursive;
    color: black;
    border: none;
    background-color: rgb(126,219,87);
}