html{
    background-color: #003F5D;
    /* background-image: url("../IMG/frutas1.png"); */
}
body{
    font-family: 'Fascinate', cursive;
}

.arriva{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.fruta{
    display: flex;
    justify-content: row;
    justify-content: center;
}

/* BOTON ADELANTE*/
.adelante  {
    /* FUENTE DE LA PALABRA */
    font-family: 'Fascinate', cursive;
    /* COLOR DE LA PALABRA */
    color: black;
    /* SIN BORDE */
    border: none;
    box-shadow: 5px 5px 5px rgb(29, 28, 28);
    /* ALTURA DEL BOTON */
    height: 70px;
    /* FONDO DE COLOR DEL BOTON */
    background-color: rgb(126,219,87);
}
/* BOTON ATRAS*/
.atras  {
    /* FUENTE DE LA PALABRA */
    font-family: 'Fascinate', cursive;
    /* COLOR DE LA PALABRA */
    color: black;
    /* SIN BORDE */
    border: none;
    box-shadow: 5px 5px 5px rgb(29, 28, 28);
    /* ALTURA DEL BOTON */
    height: 70px;
    /* FONDO DE COLOR DEL BOTON */
    background-color: rgb(243, 134, 30);
}

.box{
    display: flex;
    justify-content: row;
}
.column{
    display: flex;
    justify-content: row;
    align-items: baseline;
}