html{
    background-color: #003F5D;
}
body{
    font-family: 'Fascinate', cursive;
}

.arriva{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.fruta{
    display: flex;
    justify-content: row;
    justify-content: center;
}
.btn {
    border: 6px solid;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px rgb(29, 28, 28);
}
.btn:hover{
    background-color: blue;
}
/* BOTON */
.button {
    /* FUENTE DE LA PALABRA */
    font-family: 'Fascinate', cursive;
    /* COLOR DE LA PALABRA */
    color: black;
    /* SIN BORDE */
    border: none;
    /* ALTURA DEL BOTON */
    height: 100px;
    /* FONDO DE COLOR DEL BOTON */
    background-color: rgb(243, 134, 30);
}
