html {
    background-color: #003F5D;
}
body{
    font-family: 'Fascinate', cursive;
}

.titulo {
    color: white;
    text-align: center;
    font-size: 3rem;
    color: black;
}

img {
    border-radius: 20%;
}

.button{
    font-family: 'Fascinate', cursive;
    color: black;
    background-color: rgb(126, 219, 87);
    border: rgb(126, 219, 87);
    font-size: 40px;
    height: 100px;
    
}
/* rgb(126,219,87) */
/* #f3861e */