html{
    background-color: #0286c4;
    /* background-image: url("../IMG/fondoA.jpg"); */
    /* background-image: url("../IMG/A.jpeg"); */
    /* background-image: url("../IMG/B.jpeg"); */
    /* background-image: url("../IMG/C.jpeg"); */
    /* background-image: url("../IMG/D.jpeg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    /* background-attachment:scroll; */
}
body{
    font-family: 'Fascinate', cursive;
}

.titulo {
    color: white;
    text-align: center;
    font-size: 3rem;
    color: black;
}

img {
    border-radius: 20%;
}

.button{
    font-family: 'Fascinate', cursive;
    color: black;
    box-shadow: 5px 5px 5px rgb(29, 28, 28);
    background-color: rgb(126, 219, 87);
    border: rgb(126, 219, 87);
    font-size: 40px;
    height: 100px;
    
}
/* rgb(126,219,87) */
/* #f3861e */